@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.eventsContainer {
  .sectionTitle {
    font-size: rem(12);
    font-weight: 400;
    color: $grey-600;
    margin: 0 0 spacing(1) 0;
  }

  .eventsList {
    display: flex;
    flex-direction: column;
    gap: spacing(1);

    .eventCardWrapper {
      cursor: pointer;
      width: 100%;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@include respond-to(sm) {
  .eventsContainer {
    .sectionTitle {
      font-size: rem(13);
      margin-bottom: spacing(1.5);
    }

    .eventsList {
      gap: spacing(1.5);
    }
  }
}

