@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.userCardMap {
  .creatorProfile {
    padding: $spacing-medium;
    border-bottom: 1px solid $grey-200;
    color: $grey-600;
    @include flex(row, space-between, center, $spacing-medium);

    .creatorInfo {
      @include flex(row, flex-start, center, $spacing-medium);
      cursor: pointer;

      .creatorImage {
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $primary-color;
      }

      .creatorName {
        font-size: rem(18);
        font-weight: 500;
        margin: 0 0 spacing(0.5) 0;
      }

      .creatorCategories {
        font-size: rem(13);
      }
    }
  }
  .placesAndEventsSection {
    padding: $spacing-medium;
    .sectionTitle {
      font-size: rem(12);
      font-weight: 600;
      color: $grey-600;
      margin: 0 0 $spacing-small 0;
    }
    .section {
      border-bottom: 1px solid $grey-200;
      margin-bottom: $spacing-medium;
      .card {
        @include flex(row, space-between, flex-start, $spacing-small);
        padding: $spacing-medium 0;

        .imageContainer {
          flex-shrink: 0;
          @include flex(row, center, center, 0);
          cursor: pointer;
        }
        img {
          border-radius: 4px;
          object-fit: cover;
        }
        .cardInfo {
          @include flex(row, flex-start, center, $spacing-medium);
          .cardText {
            @include flex(column, flex-start, stretch, spacing(0.25));
            flex: 1;
            min-width: 0;

            .description {
              font-size: rem(12);
              color: $grey-400;
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              -webkit-box-orient: vertical;
              line-height: 1.2;
            }
            .locationText {
              font-size: rem(12);
              color: $grey-400;
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 100%;
            }
            .scheduleInfo {
              @include flex(column, flex-start, stretch, spacing(0.25));
              margin-top: spacing(0.25);
            }

            .scheduleItem {
              @include flex(row, flex-start, center, spacing(0.5));
              color: $grey-600;
              align-items: center;
            }

            .scheduleText {
              font-size: rem(11);
              line-height: 1;
              color: $grey-600;
              margin: 0;
            }
            .eventLocationButton {
              @include flex(row, flex-start, center, spacing(0.25));
              cursor: pointer;
              font-size: rem(12);
              color: $grey-600;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
