@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

@import "./shared.module.scss";

.content {
  padding: spacing(3);
}

.section {
  margin-bottom: spacing(4);

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionTitle {
  font-size: rem(20);
  font-weight: 600;
  color: $grey-700;
  margin-bottom: spacing(2);
  padding-bottom: spacing(1);
  border-bottom: 1px solid $grey-200;
}

.partnershipsList {
  @include flex(column, flex-start, stretch, spacing(2));
}
