@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.collaborators {
  border-bottom: 1px solid $grey-200;
  padding-bottom: spacing(3);
}

.titleContainer {
  @include flex(row, flex-start, center, spacing(1));
}

.title {
  color: $grey-450;
  font-size: 20px;
  @include respond-to(md) {
    font-size: 22px;
  }
}
