@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.addressInputWrapper {
  position: relative;
  .suggestionsList {
    position: absolute;
    background: $white;
    border: 1px solid $grey-300;
    z-index: 1000;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border-radius: rem(4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    .suggestionItem {
      @include flex(row, flex-start, center, spacing(0.75));
      cursor: pointer;
      padding: spacing(0.75);
      transition: $transition-default;
      font-size: rem(14);
      &:hover {
        background-color: $grey-100;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $grey-200;
      }
    }
  }
  @include respond-to(sm) {
    .suggestionsList {
      max-height: 200px;
      border-radius: rem(6);
      .suggestionItem {
        gap: spacing(1);
        padding: spacing(1);
        font-size: rem(15);
      }
    }
  }
  @include respond-to(md) {
    .suggestionsList {
      border-radius: rem(8);
      .suggestionItem {
        font-size: rem(16);
      }
    }
  }
}
