@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.list {
  border-radius: rem(6);
  @include flex(column, flex-start, stretch, spacing(0.5));
  border: 1px solid $grey-200;
  overflow: hidden;
  .item {
    @include flex(row, space-between, center, 0);
    padding: spacing(1);
    border-bottom: 1px solid $grey-100;
    &:last-child {
      border-bottom: none;
    }
    .itemInfo {
      @include flex(row, space-between, center, spacing(1));
      flex: 1;
      .itemInfoLeft {
        @include flex(row, flex-start, center, spacing(1));
        .itemImage {
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid $primary-color;
          width: 28px;
          height: 28px;
        }
        .itemName {
          color: $grey-600;
          font-size: rem(13);
        }
      }
    }
  }
  @include respond-to(sm) {
    border-radius: rem(8);
    gap: spacing(1);
    .item {
      padding: spacing(1.5);
      .itemInfo {
        gap: spacing(1.5);
        .itemInfoLeft {
          gap: spacing(1.5);
          .itemImage {
            border: 2px solid $primary-color;
            width: 32px;
            height: 32px;
          }
          .itemName {
            font-size: rem(15);
          }
        }
      }
    }
  }
}
