@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.container {
  @include flex(row, space-between, center, spacing(0.5));
  padding: spacing(1) spacing(0);
  width: 100%;
}

.timePickerWrapper {
  @include flex(row, flex-start, center, spacing(0));
  flex: 1;
  min-width: 0;
  width: 100%;
}

.timeSeparator {
  margin: 0 spacing(0.5);
}
