@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.partnershipsList {
  padding: spacing(1);
  margin-top: spacing(1);
  .partnershipsGrid {
    margin-top: spacing(1.5);
    display: grid;
    grid-template-columns: 1fr;
    gap: spacing(1);
    @include respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
      gap: spacing(1.5);
    }
    @include respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: spacing(2);
    }
  }
  .icon {
    font-size: rem(24);
    opacity: 0.5;
    @include respond-to(sm) {
      font-size: rem(32);
    }
  }
}
