@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.pageContainer {
  background: linear-gradient(135deg, $grey-50 0%, $white 100%);
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: spacing(1);
    background-color: $white;
    .buttonContainer {
      @include flex(column, flex-start, stretch, spacing(1.5));
      width: 100%;
      margin-top: spacing(1.5);
    }
  }

  @include respond-to(sm) {
    .container {
      border-radius: 8px;
      .buttonContainer {
        @include flex(row, space-between, center, spacing(2));
        margin-top: spacing(2);
      }
    }
  }
  @include respond-to(md) {
    padding: spacing(4);
    .container {
      padding: spacing(3);
    }
  }
  @include respond-to(lg) {
    padding: spacing(6);
  }
}
