@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.descriptionRow {
  padding: spacing(0.5) spacing(1.5);
  background-color: $grey-50;
  border-radius: rem(8);

  p {
    font-size: rem(13);
    color: $grey-600;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
  }
}

@include respond-to(sm) {
  .descriptionRow {
    padding: spacing(1);

    p {
      font-size: rem(14);
    }
  }
}
