@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.header {
  @include flex(row, space-between, center, spacing(1.5));
  margin-top: spacing(1);
  margin-bottom: spacing(2.5);

  .userImage {
    border-radius: 8px;
    overflow: hidden;
  }

  .headerInfo {
    flex: 1;

    .headerFirstRow {
      @include flex(row, space-between, center, spacing(1));

      .titleRow {
        @include flex(row, flex-start, center, spacing(1));

        .title {
          text-transform: capitalize;
          font-size: rem(20);
          font-weight: 600;
          color: $grey-600;
        }

        .category {
          font-size: rem(14);
          font-weight: 400;
          color: $grey-600;
          text-transform: capitalize;
          background: $grey-50;
          border: 1px solid $grey-200;
          border-radius: 6px;
          padding: spacing(0.25) spacing(0.75);
        }
      }

      .counters {
        @include flex(row, flex-start, center, spacing(2));
      }
    }

    .headerMain {
      @include flex(row, flex-start, flex-end, spacing(1));

      .userDetails {
        @include flex(column, flex-start, flex-start, spacing(0));
        flex: 1;

        .description {
          font-size: rem(14);
          font-weight: 400;
          color: $grey-600;
          min-height: 36px;
        }
      }

      .locationInfo {
        display: flex;
        align-items: center;
        gap: spacing(0.5);
        color: $grey-600;
        font-size: rem(14);
        border-top: 1px solid $grey-200;
        min-width: 95%;
        padding-top: spacing(0.5);

        .location {
          margin: 0;
          color: $grey-600;
        }
      }

      .buttons {
        @include flex(row, flex-end, center, spacing(1));
      }
    }
  }
}
