@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.container {
  @include flex(column, flex-start, stretch, spacing(1));
  margin-top: spacing(1);
  .section {
    @include flex(column, flex-start, stretch, spacing(1));

    .title {
      color: $grey-500;
      font-size: rem(18);
      font-weight: 600;
      margin-bottom: spacing(0.5);
    }
    .infosContainer {
      @include flex(column, flex-start, stretch, spacing(1));
      padding-bottom: spacing(2);
      border-bottom: 1px solid $grey-200;

      .roleSelector {
        margin-top: spacing(1.5);
      }
    }
  }
  @include respond-to(md) {
    .section {
      .title {
        font-size: rem(20);
      }
      .infosContainer {
        padding-bottom: spacing(3);
      }
    }
  }
}
