@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.eventScheduleList {
  background: $white;
  overflow: visible;
  @include respond-to(sm) {
    border-radius: 8px;
    border: 1px solid $grey-200;
  }
}
