@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/functions" as *;
@use "../../../styles/abstracts/mixins" as *;

.header {
  height: calc(80vh - $navbar-height);
  .headerFirstRow {
    background-color: rgba($white, 0.7);
    backdrop-filter: blur(10px);
    @include flex(row, space-between, center, spacing(2));
    padding: spacing(0.5) spacing(2);
    width: 100%;
    z-index: 1;
    h1 {
      font-size: rem(28);
      font-weight: 600;
      color: $grey-600;
    }
    h2 {
      font-size: rem(16);
      font-weight: 600;
      color: $grey-600;
    }
  }
  .headerImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
  }
  .HeaderCard {
    background-color: rgba($white, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    @include flex(column, space-between, center, spacing(0.5));
    padding: spacing(2);
    width: 300px;
    border-radius: 12px;
    margin-left: spacing(2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
