@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.eventScheduleList {
  margin-top: spacing(2);
  background: $white;
  border-radius: 8px;
  border: 1px solid $grey-200;
  overflow: visible;
}

.emptyState {
  padding: spacing(2);
  text-align: center;
  color: $grey-500;
  font-size: 14px;
  font-style: italic;
  border-radius: spacing(1);
  border: 1px solid $grey-200;
  background: $grey-50;
}
