@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.container {
  @include flex(column, flex-start, stretch, spacing(3));
  max-width: 1000px;
  margin: 0 auto;
  padding: spacing(3);
}
