@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.eventsList {
  margin-top: spacing(2);
  @include flex(column, flex-start, stretch, spacing(2));
}

.emptyState {
  @include flex(column, center, center, spacing(1.5));
  padding: spacing(4);
  text-align: center;
  color: $grey-400;
  .icon {
    font-size: rem(32);
    opacity: 0.5;
  }
  .text {
    font-size: rem(16);
    font-weight: 500;
  }
}
