@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.eventsContainer {
  @include flex(column, flex-start, stretch, spacing(1.5));
  width: 100%;

  .sectionTitle {
    font-size: rem(16);
    font-weight: 600;
    color: $grey-800;
    margin: 0;
  }

  .eventsList {
    @include flex(column, flex-start, stretch, spacing(1));
    width: 100%;

    .eventCardWrapper {
      cursor: pointer;
      width: 100%;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

