@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.newSlotContainer {
  @include flex(column, flex-start, stretch, spacing(0));
  width: 100%;
  margin-bottom: spacing(1);
  .titleInput {
    margin-top: spacing(0.5);
  }
  .buttonContainer {
    @include flex(column, flex-start, stretch, spacing(0.75));
    width: 100%;
    margin-top: spacing(1.5);
  }
  @include respond-to(sm) {
    .titleInput {
      margin-top: spacing(1);
    }
    .buttonContainer {
      @include flex(row, flex-start, stretch, spacing(1));
      margin-top: spacing(2);
    }
  }
}
