@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.accountLayout {
  @include flex(row, flex-start, stretch, 0);
  width: 100%;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

.accountContainer {
  @include flex(column, flex-start, stretch, spacing(2));
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
  padding: spacing(2);
  width: 100%;
}

.sideBarToggle {
  align-self: flex-start;
}
