@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.searchInput {
  position: relative;
  width: 100%;
}

.suggestions {
  position: absolute;
  background: $white;
  border: 1px solid $grey-300;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.suggestionItem {
  @include flex(row, flex-start, center, spacing(1));
  cursor: pointer;
  padding: spacing(1);
  transition: $transition-default;
  &:hover {
    background-color: $grey-100;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $grey-200;
  }
}

.suggestionContent {
  @include flex(column, flex-start, flex-start, spacing(0.5));
}

.suggestionName {
  font-weight: 500;
  color: $grey-600;
}

.suggestionAddress {
  font-size: 12px;
  color: $grey-600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  margin-top: spacing(1.5);
  border-radius: spacing(1);
  border: 1px solid $grey-200;
  overflow: hidden;
}

.item {
  @include flex(row, space-between, center, 0);
  padding: spacing(1.5);
  border-bottom: 1px solid $grey-100;

  &:last-child {
    border-bottom: none;
  }
}

.itemInfo {
  @include flex(row, flex-start, center, spacing(1.5));
  flex: 1;
}

.itemImage {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid $primary-color;
}

.itemName {
  color: $grey-600;
  font-size: 15px;
}

.emptyState {
  padding: spacing(2);
  text-align: center;
  color: $grey-500;
  font-size: 15px;
  font-style: italic;
}
