// Abstracts
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts/functions" as *;

// Base
@use "base/reset";
@use "base/typography";

// Components
@use "components/sonner";

main {
  min-height: calc(100vh - $navbar-height - $footer-height);
  min-height: calc(100svh - $navbar-height - $footer-height);
}

.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(245, 245, 245);
  }
  100% {
    background-color: rgb(230, 230, 230);
  }
}
