@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.categoryFilter {
  border: none;
  padding: 0;
  margin: 0;
  .header {
    @include flex(row, flex-start, center, spacing(0.5));
    margin-bottom: spacing(1);
    color: $grey-500;
    .title {
      font-weight: 600;
      font-size: rem(14);
      margin: 0;
    }
  }
  @include respond-to(sm) {
    .header {
      gap: spacing(0.75);
      .title {
        font-size: rem(15);
      }
    }
  }
}
