@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.card {
  @include flex(row, flex-start, center, spacing(0.5));
  width: fit-content;
  min-width: fit-content;
  max-width: 100%;
  padding: spacing(0.5);
  background-color: $white;
  border: 1px solid $grey-200;
  border-radius: rem(6);
  user-select: none;
  -webkit-user-select: none;

  .imageContainer {
    position: relative;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;

    .image {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
      pointer-events: none;
    }
  }

  .name {
    color: $grey-700;
    font-weight: 500;
    font-size: rem(11);
    margin: 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
    line-height: 1.2;
  }

  @include respond-to(sm) {
    padding: spacing(0.5);

    .imageContainer {
      width: 32px;
      height: 32px;
    }

    .name {
      font-size: rem(12);
    }
  }
}
