@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.partnershipsSection {
  padding: spacing(1);
  margin-bottom: spacing(2);
  h3 {
    font-size: rem(16);
    font-weight: 600;
  }
}
