@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/functions" as *;
@use "../../../../styles/abstracts/mixins" as *;
@use "sass:color";

.container {
  @include flex(row, flex-start, center, spacing(1));
  width: 100%;
  .title {
    color: $grey-600;
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.2;
    white-space: nowrap;
    margin: 0;
  }
  .line {
    flex: 1;
    height: 2px;
    background-color: $primary-color;
    border-radius: rem(1);
  }
  @include respond-to(sm) {
    gap: spacing(1.5);
    .title {
      font-size: rem(20);
    }
    .line {
      height: 2.5px;
    }
  }
  @include respond-to(md) {
    gap: spacing(2);
    .line {
      height: 3px;
      border-radius: rem(2);
    }
  }
}
