@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.tabContent {
  width: 100%;
  padding: spacing(1);
  
  @include respond-to(sm) {
    padding: spacing(1.5);
  }
}

