@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.placeCard {
  background: $white;
  cursor: pointer;
  border: 1px solid $grey-200;
  border-radius: rem(8);
  @include flex(row, flex-start, center, spacing(0));
  .imageContainer {
    position: relative;
    width: 60px;
    align-self: stretch;
    flex-shrink: 0;
    border-radius: rem(8) 0 0 rem(8);
    overflow: hidden;
    .placeImagee {
      object-fit: cover;
      height: 100%;
    }
  }
  .placeInfo {
    flex: 1;
    min-width: 0;
    padding: spacing(0.75) spacing(1.5);
    .placeHeader {
      @include flex(row, space-between, center, spacing(0.5));
      .placeTitle {
        @include flex(row, flex-start, center, spacing(0.5));
        flex: 1;
        text-transform: capitalize;
        h3 {
          font-size: rem(14);
          font-weight: 600;
          color: $grey-800;
          margin: 0;
        }
        .placeIcon {
          color: $primary-color;
          flex-shrink: 0;
        }
      }
      .placeCounters {
        @include flex(row, flex-start, center, spacing(1));
      }
    }
    .placeContent {
      @include flex(column, flex-start, stretch, spacing(0.5));
      .description {
        color: $grey-500;
        font-size: rem(12);
        font-weight: 400;
        line-height: 1.4;
      }
      .placeDetails {
        @include flex(column, flex-start, stretch, spacing(0));
        padding-top: spacing(0.75);
        border-top: 1px solid $grey-100;
        .locationName {
          margin: 0;
          color: $grey-600;
          font-size: rem(12);
          font-weight: 600;
        }
      }
    }
  }
  @include respond-to(sm) {
    border-radius: rem(12);
    .imageContainer {
      width: 70px;
      border-radius: rem(12) 0 0 rem(12);
    }
    .placeInfo {
      padding: spacing(1) spacing(2);
      .placeHeader {
        .placeTitle {
          h3 {
            font-size: rem(16);
          }
        }
      }
      .placeContent {
        gap: spacing(0);
        .description {
          font-size: rem(13);
        }
        .placeDetails {
          padding-top: spacing(1);
          .locationName {
            font-size: rem(13);
          }
        }
      }
    }
  }
}
