@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.placeCard {
  background: $white;
  cursor: pointer;
  border-bottom: 1px solid $grey-200;
  border-radius: 12px;
  @include flex(row, flex-start, center, spacing(0));
  .imageContainer {
    position: relative;
    width: 70px;
    align-self: stretch;
    flex-shrink: 0;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
    .placeImage {
      object-fit: cover;
      height: 100%;
    }
  }
  .placeInfo {
    flex: 1;
    min-width: 0;
    padding: spacing(1) spacing(2);
    .placeHeader {
      @include flex(row, space-between, center, spacing(0.5));
      .placeTitle {
        @include flex(row, flex-start, center, spacing(0.5));
        flex: 1;
        text-transform: capitalize;
        .placeIcon {
          color: $primary-color;
          flex-shrink: 0;
        }
      }
      .placeCounters {
        @include flex(row, flex-start, center, spacing(1));
      }
    }
    .placeContent {
      @include flex(column, flex-start, stretch, spacing(0));
      .description {
        color: $grey-500;
        font-size: rem(13);
        font-weight: 400;
      }
      .placeDetails {
        @include flex(column, flex-start, stretch, spacing(0));
        padding-top: spacing(1);
        border-top: 1px solid $grey-100;
        .locationName {
          margin: 0;
          color: $grey-600;
          font-size: rem(13);
          font-weight: 600;
        }
      }
    }
  }
}
