@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;
@use "sass:color";

.imageUploader {
  aspect-ratio: 1;
  background: $white;
  border: 2px solid $primary-color;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $transition-default;

  &:hover:not(:disabled) {
    background: $grey-50;
    color: color.adjust($primary-color, $lightness: -10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.plusIcon {
  color: $primary-color;
}
