@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.periodContainer {
  padding: spacing(2);
  border-bottom: 1px solid $grey-100;
  .periodHeader {
    @include flex(row, space-between, center, spacing(2));
    margin-bottom: spacing(1.5);
    padding-bottom: spacing(1);
    border-bottom: 1px solid $grey-100;
  }
  &:last-child {
    border-bottom: none;
  }

  .periodDates {
    @include flex(row, flex-start, center, spacing(1));

    .dateItem {
      @include flex(row, flex-start, center, spacing(1));
    }
  }

  .dateLabel {
    color: $grey-600;
    font-size: 12px;
    font-weight: 500;
  }

  .dateValue {
    color: $grey-800;
    font-size: 14px;
    font-weight: 600;
  }
  .actionsContainer {
    @include flex(row, flex-end, center, spacing(1));
    align-self: flex-end;
    min-width: auto;
  }
  .timeSlotsContainer {
    @include flex(column, flex-start, stretch, spacing(1));
    margin-top: spacing(1);
    .emptyState {
      padding: spacing(1);
      text-align: center;
      color: $grey-500;
      font-size: 15px;
      font-style: italic;
      border-radius: spacing(1);
      border: 1px solid $grey-200;
    }
  }
}
