@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.dayInput {
  border-bottom: 1px solid $grey-100;
  padding-bottom: spacing(1);
}

.dayLabel {
  cursor: pointer;
  user-select: none;
  color: $grey-450;
  &:hover {
    color: $grey-500;
  }
}

.dayHeader {
  @include flex(row, space-between, center, 0);
  width: 100%;
}

.statusContainer {
  @include flex(row, center, center, spacing(1));
}

.statusText {
  font-size: 15px;
}

.open {
  color: $success-color;
}

.closed {
  color: $error-color;
}

.dayContent {
  margin-top: spacing(0.5);
}
