@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.messagesTab {
  max-width: 1000px;
  margin: 0 auto;
  padding: spacing(1);
  @include respond-to(sm) {
    padding: spacing(2);
  }
  @include respond-to(md) {
    padding: spacing(3);
  }
}
