@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.content {
  @include flex(column, flex-start, stretch, spacing(2));
  width: 100%;
}

.placeName {
  color: $grey-600;
  font-weight: 400;
  font-size: rem(16);
  span {
    color: $grey-800;
    font-weight: 600;
    letter-spacing: 0.3px;
  }
}

.eventsList {
  @include flex(column, flex-start, stretch, spacing(0));
  width: 100%;
}
