@import "@/styles/abstracts/variables";

.mapPage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;
}

.mapContainer {
  flex-grow: 1;
  position: relative;
}
