@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.followingCount {
  @include flex(row, flex-start, center, spacing(0.5));
  color: $grey-600;
  font-size: rem(14);
}

.icon {
  color: $primary-color;
  flex-shrink: 0;
}

.count {
  font-weight: 600;
  color: $grey-800;
}

.label {
  color: $grey-600;
}
