@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.container {
  margin: 0 auto;
  min-height: 50vh;
}

.icon {
  color: $primary-color;
}

.title {
  color: $grey-800;
  font-size: rem(32);
  font-weight: 700;
  margin: 0;
}

.tabContent {
  min-height: 400px;
}
