@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.card {
  @include flex(row, flex-start, stretch, spacing(0));
  border-bottom: 1px solid $grey-200;
  border-radius: 12px;
  min-height: 180px;
  .imageContainer {
    position: relative;
    width: 120px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 12px 0 0 12px;
  }
  .content {
    @include flex(column, flex-start, stretch, spacing(0.75));
    flex: 1;
    min-width: 0;
    padding: spacing(1) spacing(1.5);
    .topRow {
      @include flex(row, flex-end, center, spacing(0));
      width: 100%;
      .actionButtons {
        align-self: flex-end;
      }
    }
    .addressRow {
      @include flex(row, flex-start, center, spacing(0.5));
      width: 100%;
      .addressIcon {
        color: $primary-color;
        flex-shrink: 0;
        width: 12px;
        height: 12px;
      }
      .title {
        color: $grey-700;
        font-weight: 500;
        margin: 0;
        font-size: rem(12);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .description {
      color: $grey-600;
      font-size: rem(14);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
    }
    .buttonGroup {
      @include flex(column, flex-end, stretch, spacing(0.5));
      width: 100%;
      margin-top: auto;
    }
  }
  @include respond-to(sm) {
    .imageContainer {
      width: 200px;
    }
    .content {
      .buttonGroup {
        @include flex(row, flex-end, center, spacing(0.5));
      }
    }
    .content {
      gap: spacing(1);
      .addressRow {
        .title {
          font-size: rem(13);
        }
      }
    }
  }
  @include respond-to(md) {
    .imageContainer {
      width: 250px;
    }
    .content {
      gap: spacing(1);
      .addressRow {
        .title {
          font-size: rem(14);
        }
      }
    }
  }
}
