@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;
@use "../../../../styles/abstracts/functions" as *;

.uploadArea {
  position: relative;

  &.small {
    width: rem(80);
    height: rem(80);
  }

  &.medium {
    width: rem(100);
    height: rem(100);
  }

  &.large {
    width: rem(120);
    height: rem(120);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.rounded {
  border-radius: 50%;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deleteButton {
  position: absolute;
  top: spacing(0.85);
  right: spacing(0.85);
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  @include flex(row, center, center, 0);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  height: rem(20);
  width: rem(20);
  border: none;
  color: $grey-600;
  z-index: 2000;
  transition: $transition-default;
  border: 1px solid $grey-100;
  &:hover {
    background-color: rgba(255, 255, 255, 0.874);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
  }

  .small & {
    width: rem(30);
    height: rem(30);
    top: spacing(0.25);
    right: spacing(0.25);
  }

  .large & {
    width: rem(30);
    height: rem(30);
    top: spacing(0.75);
    right: spacing(0.75);
  }
}

.placeholder {
  @include flex(column, center, center, 0);
  width: 100%;
  height: 100%;
  padding: spacing(2);
  background-color: $grey-50;
}

.uploadIcon {
  color: $grey-400;
  margin-bottom: spacing(0.25);
  @include flex(row, center, center, 0);

  .small & {
    font-size: rem(16);
  }

  .medium & {
    font-size: rem(20);
  }

  .large & {
    font-size: rem(24);
  }
}

.uploadText {
  color: $grey-600;
  font-size: rem(10);
  text-align: center;
  line-height: 1.2;

  .small & {
    font-size: rem(8);
  }

  .medium & {
    font-size: rem(10);
  }

  .large & {
    font-size: rem(12);
  }
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 0;
  border: none;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }

  &::-moz-file-upload-button {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
