@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;
@use "../../../../styles/abstracts/functions" as *;

.uploadArea {
  position: relative;
  &.small,
  &.medium,
  &.large {
    width: rem(90);
    height: rem(90);
  }
  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    .previewImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .deleteButton {
      position: absolute;
      top: spacing(0.5);
      right: spacing(0.5);
      width: rem(20);
      height: rem(20);
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      @include flex(row, center, center, 0);
      backdrop-filter: blur(10px);
      border-radius: 50%;
      border: 1px solid $grey-100;
      color: $grey-600;
      z-index: 80;
      transition: $transition-default;
      &:hover {
        background-color: rgba(255, 255, 255, 0.874);
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  .placeholder {
    @include flex(column, center, center, 0);
    width: 100%;
    height: 100%;
    padding: spacing(1);
    background-color: $grey-50;
    .uploadIcon {
      color: $grey-600;
      margin-bottom: spacing(0.25);
      @include flex(row, center, center, 0);
    }
    .uploadText {
      color: $grey-600;
      font-size: rem(12);
      text-align: center;
      line-height: 1.2;
    }
  }
  .fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 0;
    border: none;
    background: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-webkit-file-upload-button {
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
    }
    &::-moz-file-upload-button {
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  @include respond-to(sm) {
    &.medium {
      width: rem(90);
      height: rem(90);
    }
    &.large {
      width: rem(110);
      height: rem(110);
    }
    .placeholder {
      padding: spacing(1.5);
    }
  }
  @include respond-to(md) {
    &.small {
      width: rem(70);
      height: rem(70);
    }
    &.medium {
      width: rem(100);
      height: rem(100);
    }
    &.large {
      width: rem(120);
      height: rem(120);
    }
    .placeholder {
      padding: spacing(2);
    }
  }
}
.rounded {
  border-radius: 50%;
}
