@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.navbar {
  height: $navbar-height;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include flex(row, space-between, center, 0);
  padding: spacing(1) spacing(2);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: $grey-500;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.navContainer {
  @include flex(row, space-between, center, spacing(2));
  width: 100%;
}

.navLinks {
  @include flex(row, center, bottom, spacing(2));
  margin-left: auto;
}

.navIcon {
  width: 20px;
  height: 20px;
}

.navLink {
  color: $grey-400;
  text-decoration: none;
  transition: $transition-default;
  font-weight: 500;
  @include flex(row, center, center, 2px);

  &:hover {
    color: $grey-500;
  }

  &.active {
    color: $primary-color;
  }

  span {
    @media (max-width: 1200px) {
      display: none;
    }
  }

  .navIcon {
    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.authLinks {
  @include flex(row, center, center, 3px);
  color: $grey-400;
  border: 0.05em solid $grey-400;
  padding: spacing(0.5) spacing(1);
  border-radius: 500px;
  transition: $transition-default;
  font-size: 15px;

  &:hover {
    border-color: $grey-500;
  }
}
