@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.header {
  @include flex(column, flex-start, stretch, spacing(1));
  padding: spacing(1);
  
  button:first-child {
    align-self: flex-start;
    margin-bottom: spacing(0.5);
  }

  .eventCardWrapper {
    @include flex(column, flex-start, stretch, spacing(0.75));
    position: relative;

    .rating {
      @include flex(row, flex-end, center, spacing(0.5));
      align-items: center;
      position: absolute;
      top: spacing(1);
      right: spacing(1);
      z-index: 1;

      .ratingValue {
        font-size: rem(13);
        font-weight: 500;
        color: $grey-600;
        text-align: center;
        line-height: 1.2;
      }
    }
  }

  @include respond-to(sm) {
    padding: spacing(1.5);

    .eventCardWrapper {
      .rating {
        top: spacing(1.5);
        right: spacing(1.5);
        gap: spacing(0.75);

        .ratingValue {
          font-size: rem(14);
        }
      }
    }
  }
}
