@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.participantsList {
  margin-top: spacing(1);
  display: flex;
  flex-wrap: wrap;
  margin-top: spacing(0.5);
  gap: spacing(0.5);
  .participantsTitle {
    color: $grey-500;
    font-weight: 600;
  }
  .participant {
    cursor: pointer;
    border-radius: 4px;
    padding: spacing(1);
    border: 1px solid $grey-200;
    @include flex(row, flex-start, center, spacing(1));
    .participantImage {
      border-radius: 50%;
    }
    .participantInfo {
      @include flex(column, flex-start, stretch, spacing(0.5));

      .participantName {
        font-size: rem(14);
        font-weight: 500;
      }
      .participantCategory {
        width: fit-content;
        border: 1px solid $grey-200;
        padding: spacing(0) spacing(0.5);
        border-radius: 4px;
        font-size: rem(12);
        font-weight: 500;
        color: $grey-500;
      }
    }
  }
}
