@use "@/shared/styles/abstracts/variables" as *;
@use "@/shared/styles/abstracts/mixins" as *;
@use "@/shared/styles/abstracts/functions" as *;

.CreateEventContainer {
  background: linear-gradient(135deg, $grey-50 0%, $white 100%);
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: spacing(1);
    background-color: $white;
  }

  @include respond-to(sm) {
    .container {
      border-radius: 8px;
    }
  }
  @include respond-to(md) {
    padding: spacing(4);
    .container {
      padding: spacing(3);
    }
  }
  @include respond-to(lg) {
    padding: spacing(6);
  }
}

.content {
  margin-top: spacing(1.5);
}
