@use "@/styles/abstracts/variables" as *;

.modalMessage {
  margin: 0;
  color: $grey-700;
  line-height: 1.5;
  font-size: 0.875rem;
  
  strong {
    color: $grey-800;
    font-weight: 600;
  }
}

