@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.tabs {
  @include flex(row, flex-start, center, 0);
  border-bottom: 1px solid $grey-200;
  background: $grey-50;
  flex-wrap: wrap;
  @include respond-to(sm) {
    flex-wrap: nowrap;
  }
}
