@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.filtersCardMap {
  .categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(1);
    padding: spacing(1.5);
    .categoryItem {
      @include flex(row, center, center, spacing(0.5));
      padding: spacing(0.5);
      border: 1px solid $grey-200;
      border-radius: 8px;
      cursor: pointer;
      background-color: $grey-100;
      font-size: rem(13);
      color: $grey-500;

      &:hover {
        border-color: $grey-300;
        background-color: $grey-50;
      }

      &.selected {
        border-color: $primary-color;
        border: 1px solid $primary-color;
        background-color: rgba($primary-color, 0.1);
        color: $primary-color;

        &:hover {
          background-color: rgba($primary-color, 0.15);
        }
      }
    }

    .selectedText {
      color: $primary-color;
    }

    .unselectedText {
      color: $grey-500;
    }
  }
}

.header {
  padding: spacing(1.5) spacing(1.5) spacing(1) spacing(1.5);
  border-bottom: 1px solid $grey-200;
}

.content {
  padding: spacing(2);
  @include flex(column, center, center, spacing(1));
}
