@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.filtersCardMap {
  .header {
    padding: spacing(1) spacing(1.5);
    border-bottom: 1px solid $grey-200;
    .title {
      font-size: rem(16);
      font-weight: 600;
      color: $grey-700;
      margin: 0;
    }
  }
  .content {
    padding: spacing(1.5);
    @include flex(column, flex-start, stretch, spacing(1.5));
  }
  @include respond-to(sm) {
    .header {
      padding: spacing(1.5) spacing(2);
      .title {
        font-size: rem(18);
      }
    }
    .content {
      padding: spacing(2);
      gap: spacing(2);
    }
  }
}
