@use "@/styles/abstracts/variables" as *;

.categoryFilter {
  margin-bottom: $spacing-large;

  .header {
    display: flex;
    align-items: center;
    gap: $spacing-small;
    margin-bottom: $spacing-medium;
    color: $grey-500;
    .title {
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }
  }

  .categoriesList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
  }

  .categoryItem {
    display: flex;
    align-items: center;
    gap: $spacing-xsmall;
    padding: $spacing-xsmall;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid $grey-200;
    &.selected {
      border-color: $primary-color;
    }
  }

  .selectedText {
    color: $primary-color;
  }

  .unselectedText {
    color: $grey-500;
  }
}
