@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.navbar {
  height: $navbar-height;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include flex(row, space-between, center, 0);
  padding: spacing(0.75) spacing(1);
  position: relative;
  z-index: 10000000;

  .leftSection {
    flex-shrink: 0;
  }

  .navSection {
    @include flex(row, flex-end, center, spacing(0.75));
    flex: 1;
    margin-left: spacing(1);
    min-width: 0;
  }

  .logo {
    @include flex(row, center, center, 0);
    .logoImage {
      object-fit: contain;
      object-position: left;
    }
  }

  @include respond-to(xs) {
    padding: spacing(0.5) spacing(0.5);
  }

  @include respond-to(sm) {
    padding: spacing(1) spacing(1.5);
  }

  @include respond-to(md) {
    padding: spacing(1) spacing(2);
  }
}
