@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.placePartnershipsList {
  margin-top: spacing(1);

  .placePartnershipsTitle {
    color: $grey-500;
    font-weight: 600;
  }

  .placePartnershipsGrid {
    margin-top: spacing(1);
    display: flex;
    flex-wrap: wrap;
    gap: spacing(1);
  }
}
