@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.header {
  @include flex(column, flex-start, stretch, spacing(0.5));
  width: 100%;
  padding-bottom: spacing(1.5);
  border-bottom: 1px solid $grey-200;
  .titleSection {
    @include flex(column, flex-start, stretch, spacing(0.5));
    .titleRow {
      @include flex(column, center, flex-start, spacing(0));
      .title {
        color: $grey-500;
        font-weight: 700;
        margin: 0;
        font-size: rem(20);
      }
    }
    .subtitle {
      color: $grey-600;
      margin: 0;
      font-size: rem(14);
    }
  }
  @include respond-to(sm) {
    .titleSection {
      .titleRow {
        .title {
          font-size: rem(24);
        }
      }
    }
  }
  @include respond-to(md) {
    .titleSection {
      .titleRow {
        .title {
          font-size: rem(28);
        }
      }
    }
  }
}
