@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/functions" as *;

.placeForm {
  width: 100%;
  @include flex(column, flex-start, stretch, spacing(1));
  .title {
    color: $grey-450;
    font-size: 20px;
    @include respond-to(md) {
      font-size: 22px;
    }
  }

  .placeFormContainer {
    @include flex(column, flex-start, stretch, spacing(1.5));
    border-bottom: 1px solid $grey-200;
    padding-bottom: spacing(3);
  }

  .mapSection {
    .mapTitle {
      color: $grey-450;
      font-size: 14px;
      text-align: center;

      @include respond-to(md) {
        font-size: 15px;
      }
    }
    .mapContainer {
      border-radius: 8px;
      overflow: hidden;
      border: 2px solid $grey-200;
      transition: $transition-default;
      &:hover {
        border-color: $primary-color;
      }
    }
  }

  .required {
    color: $error-color;
    font-size: 0.875rem;
    margin-top: spacing(0.25);
    font-family: $font-family-base;
  }
}
