@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  @include flex(row, space-between, center, 0);
  border: 1px solid $grey-200;
  border-radius: 8px;
  background-color: $input-bg-color;
  color: $grey-500;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
